section{
    position:relative;
    margin:10px auto 50px auto;
}

form{
    position: absolute;
    top:0;
    right:0;
}

form input{
    margin:5px;
}

.log{
    margin-bottom:50px;
}

.card-log{
    overflow-y:auto;
    max-height:600px;
    padding:10px;
}

.register-log {
    border: 1px solid #aaaaaa;
    padding: 20px;
    margin: 20px auto 20px auto;
}

.register-log span {
    margin-bottom: 20px;
}