@model KeyLoggerWEB.Models.Login

@{
    ViewData["title"] = "Login";
}
<form asp-action="Login" method="post">
        @if (!string.IsNullOrEmpty(Model?.Message))
        {
            <h2 class="alert">

                <strong>Ops!</strong> @Model.Message
            </h2>
        }
        <input asp-for="Password" autofocus type="password" placeholder="Insira sua senha de acesso" />
</form>

@section styles{
    <link rel="Stylesheet" href="@Href("~/css/login.css")" />
}